schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
           targetNamespace="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
           elementFormDefault="qualified"
           attributeFormDefault="qualified">

  <xs:attribute name="about" type="xs:anyURI"/>
  <xs:attribute name="resource" type="xs:anyURI"/>

  <xs:element name="RDF">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Description" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute ref="rdf:about" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  </xs:schema>